api-key:
  "riot-games-api-key"

mysql_database:
  host: 127.0.0.1
  name: "lol"
  port: 3306
  user: "user"
  password: "password"

data_to_extract:
	nb_matches_needed: 1
	nb_players_needed: 1
	type_of_game_needed: 420  --Defined what kind of matching queue you want to extract. More information : https://developer.riotgames.com/game-constants.html