api-key:
	"riot-games-api-key"

mysql_database:
	dialect: "mysql"
	driver: "mysqlconnector"
	host: 127.0.0.1
	name: "lol"
	port: 3306
	user: "user"
	password: "password"

data_to_extract:
	# Number of matches desired to fill database
	nb_matches_needed: 1
	# Number of players desired to fill database
	nb_players_needed: 1
	# Number of matches desired for each player to fill database
	nb_matches_by_player: 1
	# Defined what kind of matching queue you want (whitelist) to extract. More information about matching queue available value : https://developer.riotgames.com/game-constants.html
	type_of_game_needed: 420 